In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key
from config1 import g_key

#Store the CSV saved and created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Adrar,MR,2022-05-08 15:25:13,20.5022,-10.0711,103.98,8,57,6.93
1,1,Khatanga,RU,2022-05-08 15:25:13,71.9667,102.5000,10.09,95,21,9.73
2,2,Lavrentiya,RU,2022-05-08 15:25:14,65.5833,-171.0000,29.44,98,100,3.62
3,3,Bata,GQ,2022-05-08 15:25:14,1.8639,9.7658,82.29,80,98,5.53
4,4,Esperance,AU,2022-05-08 15:25:15,-33.8667,121.9000,57.04,41,9,11.43

In [2]:
#city_data_df.dtypes

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Assign the locations to an array of lats and lng pairs
locations = city_data_df[["Lat", "Lng"]]

# Get the max temp
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bata,GQ,2022-05-08 15:25:14,1.8639,9.7658,82.29,80,98,5.53
5,5,Namatanai,PG,2022-05-08 15:25:15,-3.6667,152.4333,80.40,82,98,9.91
7,7,The Valley,AI,2022-05-08 15:25:16,18.2170,-63.0578,84.06,89,40,14.97
15,15,Estelle,US,2022-05-08 15:25:20,29.8458,-90.1067,82.00,68,20,9.22
17,17,Macapa,BR,2022-05-08 15:25:21,0.0389,-51.0664,84.18,79,75,6.91
20,20,Bengkulu,ID,2022-05-08 15:21:47,-3.8004,102.2655,78.89,82,94,3.38
21,21,Saint-Philippe,RE,2022-05-08 15:25:22,-21.3585,55.7679,76.59,81,46,8.61
25,25,Boyolangu,ID,2022-05-08 15:25:26,-8.1181,111.8935,77.97,91,100,3.15
38,38,Namibe,AO,2022-05-08 15:25:31,-15.1961,12.1522,79.43,61,0,13.80
39,39,Rikitea,PF,2022-05-08 15:25:31,-23.1203,-134.9692,76.59,79,52,21.23

In [11]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3             Bata      GQ     82.29   1.8639    9.7658
5        Namatanai      PG     80.40  -3.6667  152.4333
7       The Valley      AI     84.06  18.2170  -63.0578
15         Estelle      US     82.00  29.8458  -90.1067
17          Macapa      BR     84.18   0.0389  -51.0664
20        Bengkulu      ID     78.89  -3.8004  102.2655
21  Saint-Philippe      RE     76.59 -21.3585   55.7679
25       Boyolangu      ID     77.97  -8.1181  111.8935
38          Namibe      AO     79.43 -15.1961   12.1522
39         Rikitea      PF     76.59 -23.1203 -134.9692

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Bata,GQ,82.29,1.8639,9.7658,Hotel Elik Melen
5,Namatanai,PG,80.40,-3.6667,152.4333,Seagulls Inn Namatani
7,The Valley,AI,84.06,18.2170,-63.0578,CeBlue Villas & Beach Resort
15,Estelle,US,82.00,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans
17,Macapa,BR,84.18,0.0389,-51.0664,Atalanta Hotel
20,Bengkulu,ID,78.89,-3.8004,102.2655,Grage Hotel Bengkulu
21,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
25,Boyolangu,ID,77.97,-8.1181,111.8935,Yos ega cv
38,Namibe,AO,79.43,-15.1961,12.1522,Hotel Chik Chik Namibe
39,Rikitea,PF,76.59,-23.1203,-134.9692,People ThankYou

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))