## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,60.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,1,San Patricio,US,84.09,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,2,Kapaa,US,73.72,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,3,Almansa,ES,80.69,overcast clouds,38.8692,-1.0971,Hotel Blu
4,4,Bathsheba,BB,83.03,clear sky,13.2167,-59.5167,Atlantis Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Taunggyi") & (vacation_df["Hotel Name"] == "True Treasure Hotel")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Taunggyi") & (vacation_df["Hotel Name"] == "True Treasure Hotel")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Tura") & (vacation_df["Hotel Name"] == "Hotel RIKMAN Continental")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Along") & (vacation_df["Hotel Name"] == "Hotel West")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Luang Prabang") & (vacation_df["Hotel Name"] == "The Apsara")]

In [15]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
65,118,Taunggyi,MM,70.43,overcast clouds,20.7833,97.0333,True Treasure Hotel

In [16]:
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(f'Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n And finally return to: {end}.')

Starting Vacation at: (20.7833, 97.0333).
 Then make your first stop at: (25.5198, 90.2201).
 Followed by stop 2: (28.1667, 94.7667).
 Proceed to stop 3: (19.8856, 102.1347).
 And finally return to: (20.7833, 97.0333).

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itin = gmaps.directions_layer(start,end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_itin)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,118,Taunggyi,MM,70.43,overcast clouds,20.7833,97.0333,True Treasure Hotel
1,172,Tura,IN,73.92,scattered clouds,25.5198,90.2201,Hotel RIKMAN Continental
2,415,Along,IN,71.42,overcast clouds,28.1667,94.7667,Hotel West
3,647,Luang Prabang,LA,75.67,broken clouds,19.8856,102.1347,The Apsara

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
vacation_itin = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(marker_layer)
fig.add_layer(vacation_itin)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))