In [6]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key
from config1 import g_key

#Store the CSV saved and created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Adrar,MR,2022-05-08 15:25:13,20.5022,-10.0711,103.98,8,57,6.93
1,1,Khatanga,RU,2022-05-08 15:25:13,71.9667,102.5000,10.09,95,21,9.73
2,2,Lavrentiya,RU,2022-05-08 15:25:14,65.5833,-171.0000,29.44,98,100,3.62
3,3,Bata,GQ,2022-05-08 15:25:14,1.8639,9.7658,82.29,80,98,5.53
4,4,Esperance,AU,2022-05-08 15:25:15,-33.8667,121.9000,57.04,41,9,11.43

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Assign the locations to an array of lats and lng pairs
locations = city_data_df[["Lat", "Lng"]]

# Get the max temp
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))